<!DOCTYPE html>
<html>
    <head>
        <title>Micro Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <header class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar__brand">
                <img class="navbar__logo" src="static/microblog-logo.svg" alt="Micro Blog Logo">Micro Blog
            <u1 class="navbar__navigation">
                <l1 class="navbar__navigation-item"><a href="#" class="navbar__link">Recent</a></l1>
                <l1 class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></l1>
            </u1>
        </header>
        
        <main class="main">
            <section>
                <h1>Adding new entry</h1>
                <form class="form" action="/" method="POST"> 
                    <p class="form__input">              
                        <textarea name="log" id="log" class="form__textarea" cols="30" rows="7" aria-label="Entry contents" placeholder="Write a log for today..."></textarea>
                    </p>
                    <button class="form__submit" id="submit">Add Entry</button>
                </form>
            </section>
            <section>
                <h1>Recent Logs</h1>
            </section>
            {% for log in logs %}
            <article class=entry>
                <div>
                    <h2 class="entry__title">{{ log['log'] | truncate(20, true) }}</h2>
                    <time class="entry__date" datetime="{{ log['date'] }}">• {{ log['date_formated'] }}</time>
                </div>
                <p>
                    {{ log['log'] }}
                </p>
            </article>
            {% endfor %}
        </main>
        <footer class="footer">
            <div class="footer__content">
                <section class="left">
                    <a class="footer__item">Made by Juan Villarreal</a>
                    <a class="footer__item" href="#">Check out my other projects</a>
                </section>
                <section class="right">
                    <div class= "footer__column">
                        <a class="footer__item">Recent</a>
                        <a class="footer__item">Calendar</a>
                    </div>
                    <div class= "footer__column">
                        <a class="footer__item">About</a>
                        <a class="footer__item">How this was created</a>
                    </div>
                </section>
            </div>
        </footer>
    </body>
</html>